.main_menu{
    height: auto;
    width: 100%;
    float: left;
    border-bottom: 2px solid black;
}
.nav_margin{
    margin-left: 12 px;
}
.nav-item .active{
    border-top: 3px solid skyblue;
}
.nav-item:hover{
    color: skyblue;
}
.pt-50{
    padding-top: 50px;
}
.nav-item:hover a{
    color: skyblue;
}
.slider_area{
    overflow: hidden;
    height: 530px;
}
.slider_video{
    transform:scale(1.2,1.0);
}
.slider-caption{
    height: 100%;
    width: 30%;
    color: white;
    position: absolute;
    top: 250px;
    right: 100px;
}
.slider-caption h1{
    font-size: 60px;
}
@media(max-width:650px){
    .nav-item .active{
        border-top:none;
    }
    .nav_margin{
        margin-left:0px;
    }
    .pt-50{
        padding-top:0px;
    }
    .nav-item:hover{
        border-top:none;
    }
    .nav-item:hover a{
        color: skyblue;
    }

    .slider-caption{
        height: 100%;
        width: 30%;
        color: white;
        position: absolute;
        top: 100px;
        right: 70px;
    }
    .slider-caption h1{
        height: auto;
        font-size: 25px;
    }
    .slider_area{
        height: auto;
    }
}
.emb_text{
    height: auto;
    text-align: justify;
    font-weight: lighter;
}
@media(max-width:650px){
    .emb_text{
        margin-top: -370px;
        height: auto;
        text-align: justify;
        font-weight: lighter;
    }
    .iframe_vid{
        height: 150%;
        width: 100%;
        padding-bottom: 100px;
    }
}
.header_pad{
    padding-left: 100px;
    background-color: rgb(194, 210, 224);
}
.section-a{
    background-image: url(https://cdn-ligep.nitrocdn.com/EzzCXYjnnKJesfaRRepvkYTPINNeWHjj/assets/images/optimized/rev-a92925f/www.sjcpl.in/wp-content/uploads/2016/09/Misc-1-1.jpg);
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
}
.section-a h1{
    padding-top: 100px;
    color: white;
}
.section-a .span{
    color: white;
    font-weight: light;
}
@media(max-width:650px){
    .header_pad{
        padding-left: 10px;
        background-color: rgb(194, 210, 224);
    }
    .section-a{
        background-image: url(https://cdn-ligep.nitrocdn.com/EzzCXYjnnKJesfaRRepvkYTPINNeWHjj/assets/images/optimized/rev-a92925f/www.sjcpl.in/wp-content/uploads/2016/09/Misc-1-1.jpg);
        background-size: 100% 100%;
        height: 300px;
        width: 100%;
    }
    .section-a .span{
        display: none;
    }
}
.section-a-1{
    height: 150px;
    width: 300px;
    border-bottom: 2px solid white;
    float: left;
}
.section-a-2{
    padding: 20px;
    float: left;
}
.section-a-3{
    font-size: 19px;
    color: white;
    font-weight: lighter;
    margin-top: 80px;
    height: 200px;
    width: 100%;
    text-align: justify;
    padding: 20px;
    text-align: center;
}
@media(max-width:650px){
    .section-a-1{
        display: none;
    }
    .section-a-2{
        padding:0px;
        float: left;
    }
    .section-a-2 h1{
        margin-top: -20px;
        padding-left: 100px;
        text-align: center;
    }
    .section-a-3{
        font-size: 19px;
        color: white;
        font-weight: lighter;
        margin-top: -10px;
        float: left;
        height: 200px;
        width: 100%;
        text-align: justify;
        padding-top: 20px;
        text-align: center;
    }
}
.section-2{
    height: 800px;
    width: 100%;
}
.section-b-1{
        float: left;
        height: 50px;
        width: 500px;
        margin-left: 120px;
        border-bottom: 1px solid black;
}
.section-b-2{
        float: left;
        height: 50px;
        width: 250px;
        padding-top: 20px;
        padding-left: 20px;
}
.section-b-3{
        float: left;
        height: 50px;
        width: 500px;
        margin-left: 0px;
        border-bottom: 1px solid black;
}
.section-2-p{
    text-align: center;
    padding-top: 80px;
    padding-left: 200px;
    font-size: 22px;
}
.section--box{
    margin: 50px;
    margin-left: 100px;
}
.section-2-box{
    margin-top: 10px;
    margin-left: 1%;
    padding: 30px;
    border-radius: 20px;
    height: 200px;
    width: 49%;
    float: left;
    color: white;
    background-color: rgb(56, 87, 228);
}
@media(max-width:650px){
    .section-2{
        height: auto;
        width: 100%;
    }
    .section-b-1{
        display: none;
}
.section-b-2{
        float: left;
        height: 50px;
        width: 100%;
        padding-top: 0px;
        padding-left: 150px;
}
.section-b-3{
        display: none;
}
.section-2-p{
    text-align: justify;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 20px;
}
.section--box{
    margin: 0px;
    margin-left: 0px;
}
.section-2-box{
    margin-top: 10px;
    margin-left: 1px;
    padding: 0px;
    border-radius: 20px;
    height: 200px;
    width: 100%;
    float: left;
    color: white;
    background-color: rgb(56, 87, 228);
}
.fa-instagram{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
}
}
.sectction-4{
    height: auto;
    width: 100%;
    background-image: url(https://cdn-ligep.nitrocdn.com/EzzCXYjnnKJesfaRRepvkYTPINNeWHjj/assets/images/optimized/rev-a92925f/www.sjcpl.in/wp-content/uploads/2016/09/team.jpg);
    background-size: 100% 100%;
}



.sectction-1-ras{
    height: 500px;
    width: 100%;
    background-image: url(https://www.sjcpl.in/wp-content/uploads/2016/09/office-pic.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.sectction-1-ras h4{
    text-align: center;
    padding-top: 200px;
    color: white;
    font-weight: lighter;
}
.sectction-1-ras h5{
    text-align: center;
    color: white;
    font-weight: lighter;
}

.csr-button1{
    height: 150px;
    width: 400px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.csr-button1 a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.csr-button2{
    height: 150px;
    width: 400px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.csr-button2 a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.csr-button1:hover{
    color: black;
}
.csr-button2:hover{
    color: black;
}

@media(max-width:650px){
    .csr-button1{
        height: 150px;
        width: 400px;
        border-radius: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .csr-button2{
        height: 150px;
        width: 400px;
        border-radius: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
}

.con-sec1{
    padding-left: 300px;
}
@media(max-width:650px){
    .con-sec1{
        padding-left: 0px;
    }
}
